@model IEnumerable<Coursework.Models.Comment>
@using Microsoft.AspNet.Identity;

@foreach (var comment in Model)
{
    <hr class="comment-separator" />
    <div id="@comment.Id" class="comment-block">
        <div class="comment-content">
            <div>@comment.Content</div>
            <span class="comment-author">
                - @comment.User.UserName
            </span>
        </div>

        <div hidden class="modify-comment">
            @if (comment.User.Id == User.Identity.GetUserId())
            {
                @Ajax.ActionLink("edit", "EditView", "Comments", new { commentId = comment.Id }, new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               LoadingElementId = "loadingSpinner",
               UpdateTargetId = comment.Id.ToString(),
               OnBegin = "toggleSelectedAnnouncement();",
               OnComplete = "toggleSelectedAnnouncement();"
           }, new { @class = "material-icons edit-comment-icon" })
                <i id="deleteCommentButton" class="material-icons delete-comment-icon" onclick="deleteComment('@comment.Id')">delete</i>
            }
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script src="~/CustomScripts/AnnouncementComments.js"></script>
