@model IEnumerable<Coursework.Models.Comment>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Comments for @ViewBag.AnnouncementTitle</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.AnnouncementId })
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Content
            </td>
            <td>
                @item.User.UserName
            </td>
            <td>
                @if (item.User.Id == User.Identity.GetUserId())
                {
                    <a href="@Url.Action("Edit","Comments", new { id = item.Id })"><i class="material-icons">edit</i></a>
                    <a href="@Url.Action("Delete","Comments", new { id = item.Id })"><i class="material-icons">delete</i></a>
                }
            </td>
        </tr>
    }
</table>
