@model Coursework.Models.Announcement

<div class="selected-announcement">
    @using (Html.BeginForm("Create", "Announcements", FormMethod.Post, new { id = "createForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="announcement-heading">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="headerLine">
                <h2>Create Announcement</h2>
            </div>
            <div class="title-info">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                <div class="form-group">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control titleEdit" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control contentTextArea" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
        <div class="form-group form-inline">
            @Html.LabelFor(model => model.Important, htmlAttributes: new { @class = "control-label" })
            <div class="checkbox">
                @Html.EditorFor(model => model.Important)
                @Html.ValidationMessageFor(model => model.Important, "", new { @class = "text-danger" })
            </div>
        </div>
        <button id="createAnnouncementButton" class="btn btn-primary" type="submit">
            Create
        </button>
    }
</div>
@Scripts.Render("~/bundles/jqueryval")