@model Coursework.Models.Announcement

@using (Html.BeginForm("Edit", "Announcements", "", FormMethod.Post, new { id = "editAnnouncementForm" }))
{
    @Html.AntiForgeryToken()
    <div class="announcement-heading">
        @Html.HiddenFor(model => model.Id, new { id = "announcementId" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="headerLine">
            @Ajax.ActionLink("arrow_back", "GetAnnouncement", "Announcements", new { announcementId = Model.Id }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           LoadingElementId = "loadingSpinner",
           UpdateTargetId = "selectedAnnouncement",
                   OnBegin = "toggleSelectedAnnouncement();",
           OnComplete = "toggleSelectedAnnouncement();"
       }, new { @class = "material-icons return-to-announcement" })
            <h3>Edit Announcement</h3>
        </div>
        <div class="title-info form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control titleEdit" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control contentTextArea" } })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>
    <div class="form-group form-inline">
        @Html.LabelFor(model => model.Important, htmlAttributes: new { @class = "control-label" })
        <div class="checkbox">
            @Html.EditorFor(model => model.Important)
            @Html.ValidationMessageFor(model => model.Important, "", new { @class = "text-danger" })
        </div>
    </div>
    <button id="updateAnnouncementButton" class="btn btn-primary" type="submit">
        Update
    </button>
    <button id="deleteAnnouncementButton" class="btn btn-danger delete-announcement-button" type="button">
        Delete
    </button>
}
<script src="~/CustomScripts/EditAnnouncement.js"></script>
@Scripts.Render("~/bundles/jqueryval")
