@model Coursework.Models.Announcement

<div class="announcement-heading">
    <div class="title-info">
        <h2>@Model.Title</h2>
        <span class="author">
            - @Model.UserName
        </span>
    </div>
    @if (ViewBag.isLecturer)
    {
        <div class="edit-container">
            <a class="edit-announcement-icon" href="@Url.Action("Edit", new { id = Model.Id })">
                <i class="material-icons">edit</i>
            </a>
        </div>
    }
</div>
<div class=announcement-content>
    @Model.Content
</div>
<div class="announcement-comments">
    @Html.ActionLink("Go to comments", "Index", "Comments", new { id = Model.Id }, "")
</div>