@model Coursework.Models.Announcement

<div class="announcement-heading">
    <div class="title-info">
        <h2>@Html.DisplayFor(a => a.Title)</h2>
        <span class="author">
            - @Html.DisplayFor(a => a.User.UserName)
        </span>
    </div>
    @if (ViewBag.isLecturer)
    {
        <div class="modify-container">
            <a class="delete-announcement-icon" href="@Url.Action("Delete", new { Model.Id })">
                <i class="material-icons">delete</i>
            </a>
            <a class="edit-announcement-icon" href="@Url.Action("Edit", new { Model.Id })">
                <i class="material-icons">edit</i>
            </a>
        </div>
    }
</div>
<div class=announcement-content>
    @Html.DisplayFor(a => a.Content)
</div>