@model IEnumerable<Coursework.Models.Announcement>

@{
    ViewBag.Title = "Announcements";
}

<h2>@ViewBag.Title</h2>
@if (ViewBag.isLecturer)
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="tableAnnouncement" href="@Url.Action("Details", new {id = item.Id})">
                    <b class="announcementTitle">@item.Title - </b><span class="announcementContent">@item.Content</span>
                </a>
            </td>
            @if (ViewBag.isLecturer)
            {
                <td class="announcementEdit">

                    <a href="@Url.Action("Edit", new { id = item.Id })">
                        <i class="material-icons">edit</i>
                    </a>

                </td>
            }
        </tr>
    }

</table>

<script src="~/CustomScripts/indexAnnouncement.js"></script>