@model IEnumerable<Coursework.Models.Announcement>

@{
    ViewBag.Title = "Announcements";
}

<div hidden id="loadingSpinner">
    <img src="~/Content/loader.svg" />
</div>

<div class="sidebar col-sm-4">
    <h2 class="text-center">@ViewBag.Title</h2>
    @if (ViewBag.isLecturer)
    {
        @Ajax.ActionLink("Create New",
       "Create", "", new AjaxOptions
       {
           UpdateTargetId = "selectedAnnouncement",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET",
           LoadingElementId = "loadingSpinner"
       }, new { @class = "create-announcement-link" })
    }
    @foreach (var item in Model)
    {
        using (Ajax.BeginForm("GetAnnouncement", "Announcements", "", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "selectedAnnouncement",
            LoadingElementId = "loadingSpinner"
        }, new { id = "announcementButton" }))
        {
            @Html.Hidden("announcementId", item.Id)
            <button class="announcement-button" type="submit">
                <div>
                    @item.Title
                </div>
                @if (item.Important)
                { <span class="important">!</span> }
            </button>
        }
    }
</div>

<div id="noAnnouncementSelected" class="col-sm-8">No announcement selected.</div>

<div hidden id="selectedAnnouncement" class="outline col-sm-8"></div>

@section Styles {
    <link href="@Url.Content("~/Content/announcements.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="~/CustomScripts/indexAnnouncement.js"></script>
}
