@model IEnumerable<Coursework.Models.Announcement>

@{
    ViewBag.Title = "Announcements";
}

<div id="loadingSpinner">
    <img src="~/Content/ring.svg" />
</div>

<div class="sidebar col-sm-4">
    <h2>@ViewBag.Title</h2>
    @if (ViewBag.isLecturer)
    {
        <div class="create-announcement-link">
            <p>
                @Html.ActionLink("Create New", "Create", "", new { @class = "create-announcement-link" })
            </p>
        </div>
    }

    @foreach (var item in Model)
    {
        <input hidden name="announcementId" value="@item.Id" />
        <button id="@item.Id" class="announcement-link" type="submit">@item.Title</button>
    }
</div>

<div class="outline col-sm-8">

    <div id="displayAnnouncement" class="selected-announcement">
        Please select an announcement
    </div>

    <div hidden id="displayComments" class="announcement-comments"></div>
</div>


@section Styles {
    <link href="@Url.Content("~/Content/announcements.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="~/CustomScripts/indexAnnouncement.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
